---
layout: ""
page_title: "Provider: Ametnes Cloud"
description: |-
Creates and manages an Ametnes Data Service Location. An Ametnes Data Service Location is essentially a dedicated kubernetes cluster that is management by Ametnes and
has an Ametnes Cloud Agent installed. Data services are then created and managed in the cluster using this terraform provider.
---

# Ametnes Cloud Provider

The Ametnes cloud provider provides management resources for
[Ametnes Cloud](https://cloud.ametnes.com/).

## Example Usage

### Setting up an Ametnes Data Service location.
See instructions [Ametnes Data Service setup](https://github.com/ametnes/examples/tree/main/ametnes-cloud-agent)

## Authentication
To use this provider, you need to generate an authentication token (aka API key) in your Ametnes Cloud account. `User` -> `Edit` your user -> `Get User Token`.
Ensure the generated user token is kept in a secure place as it will not be visible again.

### Creating an Ametnes Cloud provider.

{{ tffile "examples/provider/example.tf" }}

{{ .SchemaMarkdown | trimspace }}
